Emitter.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Emitter.xcodeproj/project.xcworkspace/xcuserdata/patrick.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata
Emitter.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/xcschememanagement.plist
